.app-footer {
    background-color: #000; /* Sidebar jaisa black background */
    border-top: 1px solid var(--background-card);
}

.footer-logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-primary);
}

.purple-text {
    color: var(--brand-accent);
}

.social-icon {
    color: var(--text-secondary);
    transition: color 0.2s ease-in-out;
}

.social-icon:hover {
    color: var(--text-primary);
}